header {
  background-color:white; 
  padding: 20px; 
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px; 
}
.navbar img {
  max-height: 50px; 
  padding: 1px;
}
.navbar a {
  color: black; 
  text-decoration: none; 
  margin-left: 10px; 
}
.col-auto {
  text-align: center; 
}
#newsletter-input{
margin-top: -119px;
margin-left: 461px;
padding-bottom: 1px;
width:41%;
border-bottom: 1px solid black;
}
#newsletter-input input{
width:67%;
margin-bottom: 0px;
border: none;
}
#newsletter-input input::placeholder{
font-size: 0.8rem;
color: gray;
}
.overlay-text-sub{
margin-top: -120px;
margin-left: 62px;

}
.subscribe{
background-color: white;
margin-top: 137px;
width: 863px;
height: 165px;
margin-left: 200px;
margin-right: 200px;
}

*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.active{
    color: red;
}
.nav-bar ul{
    display:flex;
    list-style-type: none;
    margin-top: 25px;
    gap:40px;
    margin-right: 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.logo-img{
    padding-left: 40px;
}
.background-image {
background-image: url('assets/Group 154'); 
    background-size: cover;
    object-fit: contain;
    background-position: center;
    padding-left: 40px;
    position: relative;
    height: 700px;
    width:1150px    
}
  .overlay-text-gg {
    padding: 50px; 
    color: black;
    position: absolute;
    text-align: right;
    top:50px;
    margin-right: 50px;
    translate: -50px -50px;
   
  }
 .btn{
    background-color:#17C1A3;
    white-space: nowrap;
    color: white;
    margin-left:-15px;
}
.container-appoinment{
   margin-top: -150px;
   width: 95%;
 
   
}

.form-container {
    margin-top: -70px;
    margin-left: 450px;
    width: 43%;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}
 
.form-container input {
    margin-bottom: -59px;
    border: none;
    outline: none;
}
 
.card a{
 
    text-decoration: underline;
    color: #17C1A3;
}
  
.newsletter-card{
    position: relative;
    top: -10%;
    background-image: url("../assets/Mask\ group.png");
    background-size: cover;
    height: 30vh;
    background-color: #fff;
    border-radius: 10px;
}
 
.overlay-text-sub .btn{
    margin-left: 238px;
    margin-bottom: 5px;
}
 
#newsletter-input{
    margin-top: -119px;
    margin-left: 461px;
    padding-bottom: 1px;
    width:41%;
    border-bottom: 1px solid black;
}
#newsletter-input input{
    width:67%;
    margin-bottom: 0px;
    border: none;
}
#newsletter-input input::placeholder{
    font-size: 0.8rem;
    color: gray;
}
.overlay-text-sub{
    margin-top: -120px;
    margin-left: 62px;
 
}
 
.subscribe{
    background-color: white;
    margin-top: 137px;
    width: 863px;
    height: 165px;
    margin-left: 200px;
    margin-right: 200px;
}

 
 